<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @task.creator %>
</p>

<p>
  <strong>Performer:</strong>
  <%= @task.performer %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.completed %>
</p>

<%= link_to t('edit'), edit_task_path(@task) %> |
<%= link_to t('back'), tasks_path %>